.DS_Store

ExampleApp/Assets/Plugins/Android/FirebaseApp.androidlib/

ExampleApp/Assets/StreamingAssets/google-services-desktop.json
ExampleApp/Assets/StreamingAssets/google-services-desktop.json.meta

ExampleApp/Assets/Editor Default Resources.meta
ExampleApp/Assets/ExternalDependencyManager.meta
ExampleApp/Assets/Firebase.meta
ExampleApp/Assets/GeneratedLocalRepo.meta
ExampleApp/Assets/StreamingAssets.meta

ExampleApp/ProjectSettings/AndroidResolverDependencies.xml
ExampleApp/ProjectSettings/GvhProjectSettings.xml
ExampleApp/Assets/Editor Default Resources/Firebase/
ExampleApp/Assets/Firebase/
ExampleApp/Assets/ExternalDependencyManager/
ExampleApp/Assets/Editor Default Resources/Firebase.meta
ExampleApp/Assets/GeneratedLocalRepo/
ExampleApp/Assets/Plugins/Android/FirebaseApp.androidlib.meta